.nav-sidebar {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f7f7;
    border-radius: 5px 5px 5px 5px;
}
.nav-sidebar li > a {
    padding: 5px 20px;
    display: block;
    color: #333;
}