.row_title {
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    width: 155px;
}
.row_data {
    display: inline-block;
}
.pad10{
    margin-top: 10px;
}
.p12{
    font-size: 18px;
}
.w150 {
    width: 150px;
}
csr-legend {
    margin:3px;
    text-align:center;
    width:100%
}