body {
    padding-top: 70px;
}
.row_title {
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-right: 8px;
    text-align: right;
    width: 155px;
}
.row_data {
    display: inline-block;
}
.pad10{
    margin-top: 10px;
}
.p12{
    font-size: 18px;
}
.w150 {
    width: 150px;
}
.w100 {
    width: 100%;
}
csr-legend {
    margin:3px;
    text-align:center;
    width:100%
}
.row_title {
    width: 175px;
}
.medal_height {
    min-height: 300px;
}
.margin3pxbottom {
    margin-bottom: 3px;
}
.block {
    display: inline-block;
}
.medal_desc {
    display: inline-block;
    float: left;
    width: 60px;
}
.img-emblem {
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.margin3pxtop {
    margin-top: 3px;
}
.top_right {
    position: relative;
    float: right;
    display: inline-block;
}
.colur {
    color: #555;
}
.colur:hover {
    text-decoration: underline;
    color: #555;
}
.label-static-size {
    font-size: 12px;
    padding: .1em .3em .2em;
}
.nav-sidebar {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f7f7;
    border-radius: 5px 5px 5px 5px;
}
.nav-sidebar li > a {
    padding: 5px 20px;
    display: block;
    color: #333;
}
@media (max-width: 500px) {
    .row_title {
        width: 135px;
    }
}
@media (max-width: 500px), (max-device-width: 500px) {
    h1 {
        font-size: 22px !important;
    }
}