.row_title {
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    width: 155px;
}
.row_data {
    display: inline-block;
}
.pad10{
    margin-top: 10px;
}
.p12{
    font-size: 18px;
}
.w150 {
    width: 150px;
}
csr-legend {
    margin:3px;
    text-align:center;
    width:100%
}
.row_title {
    width: 175px;
}
@media (max-width: 500px) {
    .row_title {
        width: 135px;
    }
}
@media (max-width: 500px), (max-device-width: 500px) {
    h1 {
        font-size: 22px !important;
    }
}